.pagina-programa-favorito {
    display: flex;
    justify-content: center;

    .inserir {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        justify-content: end;
        box-shadow: 0px 0px 9px 0px;
        padding: 25px;
        border-radius: 10px;

        h1 {
            text-align: center;
        }
        input {
            padding: 10px;
            margin: 5px;
        }
        .botao {
            border: #000 solid 1px;
            padding: 10px;
            text-align: center;
            width: 100px;
            margin: 5px;
        }

    }
}