.pagina-programa {
    display: flex;
    justify-content: center;

    .inserir {
        display: flex;
        flex-wrap: wrap;
        width: 270px;
        justify-content: end;
        align-items: center;
        padding: 25px;
        box-shadow: 0px 0px 9px 0px;
        border-radius: 10px;

        h1 {
            text-align: center;
        }
        input {
            padding: 10px;
            margin: 5px;
        }
        .botao {
            padding: 10px;
            border: #000 solid 1px;
            width: 100px;
            text-align: center;
            margin: 5px;
        }
    }
}